html {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
}
body,
html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  background: #17191c;
}
button {
  cursor: pointer;
  border: 0;
}
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper--main {
  position: relative;
}
.wrapper--main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../img/main/bg-1.png) center top no-repeat,
    url(../../img/main/bg-2.png) center bottom 140px no-repeat;
  filter: grayscale(100%);
}
.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1140px;
  position: relative;
}
.button {
  background: #8f00ff;
  color: #fff;
  border-radius: 5px;
  padding: 18px 40px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 165px;
  text-align: center;
  transition: 0.4s;
}
.button:hover {
  background: #741bba;
}
.button--light {
  padding: 17px 31px;
  border: 1px solid #8f00ff;
  color: #8f00ff;
  background: #fff;
}
.button--light:hover {
  background: #8f00ff;
  color: #fff;
}
.button--transparent {
  background: transparent;
  border: 1px solid #fff;
}
.button--gray {
  background: #8e8e8e;
}
.button--gray:hover {
  background: #2b2b2b;
}
