.footer {
  margin-top: auto;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 43px;
  border-top: 1px solid #fff;
}
.wrapper--games .footer__content {
  padding-top: 53px;
  border-top: none;
}
.footer__col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .logo {
  flex-shrink: 0;
  margin-right: 130px;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 73px;
}
.social__item {
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0px;
}

.contacts__description {
  font-size: 11px;
  line-height: 20px;
}
