.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 29px;
}

.header .logo {
  flex-shrink: 0;
  margin-right: 34px;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 67px;
}
.menu__item:last-child {
  margin-right: 0px;
}
.menu__link:hover {
  color: #8f00ff;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-style: normal;
  height: 100%;
}
.contacts__phone {
  font-size: 26px;
  text-decoration: none;
  line-height: 30px;
}
.contacts__schedule {
  font-size: 13px;
  text-decoration: underline;
  line-height: 13px;
}
.header {
  margin-bottom: 136px;
}
