.title {
  font-size: 36px;
  font-weight: bold;
}
.news .title {
  margin-bottom: 50px;
}
.title--new {
  display: flex;
  align-items: center;
}
.title--new::after {
  content: '';
  background: url(../../img/store-new-badges\ 1.png) no-repeat;
  margin-left: 10px;
  width: 43px;
  height: 43px;
}
.news__list {
  display: flex;
  justify-content: space-between;
}
.news__item {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 5px;
  width: 31.75%;
}

.news__content {
  padding: 32px 38px 42px 20px;
}
.news__item-title {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.news__features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
  margin-right: 8px;
}
.news__feature {
  display: flex;
  align-items: center;
}

.news__feature-text {
  margin-left: 10px;
  color: #666666;
}
.news__text {
  color: #303030;
  font-size: 14px;
  margin-bottom: 42px;
}
.button--light {
  padding: 17px 31px;
  border: 1px solid #8f00ff;
  border-color: #8f00ff;
  color: #8f00ff;
  background: #fff;
}
.button--light:hover {
  background: #8f00ff;
  color: #fff;
}
.news {
  margin-bottom: 125px;
}
