.title {
  font-size: 36px;
  font-weight: bold;
}
.news .title {
  margin-bottom: 50px;
}
.title--new {
  position: relative;
}
.title--new::after {
  content: '';
  background: url(../../img/store-new-badges\ 1.png) no-repeat;
  position: absolute;
  top: 52%;
  left: 25%;
  margin-left: 65px;
  width: 43px;
  height: 43px;
  transform: translate(-50%, -50%);
}
.news__item,
.news__feature,
.news__feature-img,
.news__feature-text {
  display: inline-block;
  vertical-align: middle;
}
.news__item {
  min-height: 450px;
  background: #fff;
  border-radius: 5px;
  width: 362px;
  margin-right: 22px;
}
.news__item:last-child {
  margin-right: 0;
}
.news__img {
  min-height: 144px;
}
.news__content {
  display: block;
  padding: 33px 20px;
}
.news__item-title {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 23px;
}
.news__features {
  margin-bottom: 27px;
}
.news__feature:first-child {
  margin-right: 55px;
}
.news__feature-text {
  margin-left: 5px;
  color: #666666;
}
.news__text {
  color: #303030;
  font-size: 14px;
  margin-bottom: 39px;
}
.button--light {
  padding: 18px 31px;
  border: 1px solid #8f00ff;
  border-color: #8f00ff;
  color: #8f00ff;
  background: #fff;
}
.button--light:hover {
  background: #8f00ff;
  color: #fff;
}
.news {
  margin-bottom: 125px;
}
